@font-face {
  font-named-instance: Regular;
  font-display: swap;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 400;
  src: url('fonts/NunitoSans_10pt-Regular') format('truetype');
}

@font-face {
  font-named-instance: Bold;
  font-display: swap;
  font-family: Nunito Sans;
  font-style: bold;
  font-weight: 700;
  src: url('fonts/NunitoSans_10pt-Bold') format('truetype');
}
